@font-face {
    font-family: Arial;
    src: url("fonts/Arial Narrow.ttf");
}

@font-face {
    font-family: Arial;
    src: url("fonts/Arial Narrow.ttf");
    font-weight: 200;
}

html {
    font-family: Arial,serif;
}

body {
    background-color: rgba(24,39,255,0.05);
}

img {
    display: block;
}

div img {
    margin: 10px;
}

.header {
    width: 100%;
    height: auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

body div {
    padding: 5px;
    margin: 1px;
    font-size: 18px;
}

body div:nth-child(3) {
    background-color: rgba(24,39,255,0.2);
}

footer {
    font-size: 30px;
}

footer div {
    height: 3px;
    width: 100%;
    background-color: black;
}