@import "css2.css" screen, print;

html {
    color: black;
}

body {
    color: red;
    width: 90%;
    border-right: 4mm ridge rgb(170, 50, 220);
}

div {
    width: 100px;
}

h1 { break-before: left }

@media only screen and (max-width: 600px), print {
    body {
        background-color: lightblue;
    }
}

@page :blank {
    @top-center { content: "This page is intentionally left blank" }
}