
    address {
        color: #d73a49;
    }

    article {
        background-color: teal;
    }

    aside {
        width: 30%;
    }

    body{
        padding:20px;
        font-family:Arial;
        font-size: 18px;
        background-color:silver;
    }

    div{
        background-color: #00D000;
        margin: 20px 38px ;
        border-left-style: double;
    }

    dl {
        background-color: #803300;
    }

    figcaption {
        color:palegreen;
    }

    figure {
        background-color: #1a1a1a;
    }

    footer {
        padding: 16px;
    }

    form {
        width: 70%;
        height: 100px;
    }

    header{
        margin: 20px 20px 20px 20px ;
    }

    hr {
        border-color:red;
    }

    image{
        width: 20%;
        height: 550px;
        float: left;
        border:4px inset purple;

    }

    li {
        list-style-position: outside;
    }

    main {
        border: 10px dotted black;
    }

    menu{
        background-color: #360099;
        margin: 20px 20px 20px 20px ;
        border:4px inset purple;
        text-align:center;
    }

    ol {
        list-style-type: square;
    }

    p{
        text-indent: 30px;
    }

    section {
        display: block;
        border-bottom-style: dotted;
    }

    span{
        font-family:Arial;
        font-size: 10px;
    }

    table {
        margin: 20px 50px 20px ;
    }

    title {
        display: block;
    }

    ul {
        margin-bottom: 1em;
    }