@import 'css_50.css';

    body {
        background-color: yellow;
    }

    li:nth-last-of-type(2) {
        list-style-type: decimal;
    }

    h5 {
        background-color: blue;
    }

    div {
        grid-area: 1 / 1 / 2 / 2;
    }

    span > p {
        background-color: deeppink;
    }

    h1 + p {
        background-color: darkgray;
    }

    div {
        border: 3px solid #4DA6FF;
        box-shadow: 2px 2px 7px 1px #4DA6FF;
    }

    h1 ~ p {
        background-color: coral;
        font-style: italic;
    }

    address {
        font-variant: small-caps;
    }

    title {
        rgba(0,0,0,0.15);
    }

    div {
        border-left-style: dotted;
    }

    h2:first-of-type {
        background: royalblue;
    }

    h3:last-of-type {
        background: aqua;
    }

    h4:first-child {
        background-color: yellowgreen;
    }

    :not(ul) {
        background: aliceblue;
    }

    p:nth-child(1) {
        background: lightcoral;
    }

    p:nth-last-child(2) {
        background: white;
    }

    ul:nth-of-type(2) {
        background: aqua;
    }

    ul:only-of-type {
        background: teal;
    }

    span:only-child {
        background: tomato;
    }

    h6 {
        font-family:Arial;
        font-size: 18px;
    }

    address {
        color: #d73a49;
    }

    article {
        background-color: teal;
    }

    aside {
        width: 30%;
    }

    body{
        padding:20px;
        font-family:Arial;
        font-size: 18px;
        background-color:silver;
    }

    div{
        overflow: auto;
    }

    dl {
        background-color: #803300;
    }

    figcaption {
        color:palegreen;
        opacity: 1;
    }

    figure {
        background-color: #1a1a1a;
        display: inline;
    }

    footer {
        padding: 16px;
    }

    form {
        width: 70%;
        height: 100px;
    }

    header{
        margin: 20px 20px 20px 20px ;
    }

    hr {
        border-color:red;
    }

    image{
        width: 20%;
        height: 550px;
        float: left;
        border:4px inset purple;

    }

    li {
        list-style: upper-latin outside;
    }

    main {
        border: 10px dotted black;
    }

    menu{
        background-color: #360099;
        margin: 20px 20px 20px 20px ;
        border:4px inset purple;
        text-align:center;
    }

    ol {
        list-style-type: square;
    }

    p{
        text-indent: 30px;
    }

    section {
        display: block;
        border-bottom-style: dotted;
    }

    span{
        font-family:Arial;
        font-size: 10px;
    }

    table {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 2px;
        grid-row-gap: 0px;
    }

    title {
        display: block;
    }

    ul {
        margin-bottom: 1em;
    }


