    @import "css_100.css" all;
    @import "css_50.css" screen;
    @import "css_500.css";

    p {
        color: #1C6EA4;
    }

    h1 {
        text-align: center;
        align-content: center;
    }

    h2 {
        display: flex;
    }

    div > p {
        border: 5px dotted #52A438;
    }

    ul + p {
        color:#4DA6FF;
    }

    div p {
        border-radius: 18px 19px 20px 30px;
    }

    img {
        background: #D0E4F5 repeat scroll 50% 50%;
    }
    h1, p {
        color: #970083;
    }

    p:first-child {
        margin: 35px;
    }

    p::first-letter {
        margin-bottom: 25px;
    }

    p::first-line {
        margin-left: 30px;
    }

    p:first-of-type {
        margin-right: 150px;
    }

    p:last-child {
        margin-top: 25px;
    }

    ul:last-of-type {
        list-style: square inside;
    }

    tr:nth-child(even) {
        grid-column: span;
    }

    tr:nth-child(odd) {
        grid-column: span;
    }

    li:nth-child(1) {
        list-style-image: none;
    }

    li:nth-last-child(1) {
        list-style-position: outside;
    }

    ul:nth-of-type(2) {
        list-style-position: inside;
    }

    ul {
        list-style-type: circle;
    }

    ol {
        list-style-type: square;
    }

    ol {
        list-style-type: upper-roman;
    }

    ul {
        list-style-type: lower-alpha;
    }

    li:nth-last-of-type(2) {
        list-style-type: decimal;
    }

    li {
        list-style-type: georgian;
    }

    span:only-child {
        background-color: #803300;

    }

    h3:only-of-type {
        grid-area: auto;

    }

    :root {
        background-color: #d73a49;
    }

    table {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 4px;
        grid-row-gap: 4px;
    }

    div {
        grid-area: 1 / 1 / 2 / 2;
    }

    body {
        background: #CE5937;
        background: linear-gradient(to right, #CE5937 0%, #1C6EA4 25%, #C59237 100%);
    }
    div {
        transform: scale(1.5) rotate(44deg) translate(-23px, 14px);
    }

    p {
        text-shadow: 4px 2px 8px #CE5937;
    }

    div {
        color: #FFFFFF;
        background: #F7C1C1;
        text-shadow: 4px 3px 0px #7A7A7A;
    }

    div {
        border: 3px solid #4DA6FF;
        box-shadow: 2px 2px 7px 1px #4DA6FF;
    }

    p {
        font-family: Georgia, serif;
        font-size: 25px;
    }

    p {
        letter-spacing: 2px;
        word-spacing: 2px;
    }

    p {
        color: #000000;
    }

    p {
        font-weight: normal;
    }

    p {
        text-decoration: none;
    }

    p {
        font-style: normal;
    }

    p {
        font-variant: normal;
        text-transform: none;
    }

    address {
        font-variant: small-caps;
    }

    table {
        border: 4px solid #792396;
        background-color: #555555;
        width: 350px;
        text-align: center;
        border-collapse: collapse;
    }
    table td th {
        border: 1px solid #555555;
        padding: 5px 2px;
    }
    table tbody td {
        font-size: 13px;
        font-weight: bold;
        color: #FFFFFF;
    }
    table tr:nth-child(even) {
        background: #CC3BFC;
    }
    table thead {
        background: #792396;
        border-bottom: 4px solid #792396;
    }
    table thead th {
        font-size: 19px;
        font-weight: bold;
        color: #FFFFFF;
        text-align: left;
        border-left: 2px solid #792396;
    }
    table thead th:first-child {
        border-left: none;
    }

    table tfoot {
        font-size: 13px;
        font-weight: bold;
        color: #FFFFFF;
        background: #CE3CFF;
        border-top: 5px solid #792396;
    }
    table tfoot td {
        font-size: 13px;
    }
    table tfoot {
        text-align: right;
    }
    table tfoot a{
        display: inline-block;
        background: #792396;
        color: #FFFFFF;
        padding: 2px 8px;
        border-radius: 5px;
    }

    div {
        border: 12px inset #1C6EA4;
        border-radius: 15px 26px 0px 0px;
    }

    div {
        border-right: 12px double #1C6EA4;
        border-radius: 15px 26px 0px 0px;
    }

    li:nth-last-of-type(2) {
        list-style-type: decimal;
    }

    h5 {
        background-color: blue;
    }

    div {
        grid-area: 1 / 1 / 2 / 2;
    }

    span > p {
        background-color: deeppink;
    }

    h1 + p {
        background-color: darkgray;
    }

    div {
        border: 3px solid #4DA6FF;
        box-shadow: 2px 2px 7px 1px #4DA6FF;
    }

    h1 ~ p {
        background-color: coral;
    }

    address {
        font-variant: small-caps;
    }

    title {
        background: blanchedalmond;
    }

    div {
        border-left-style: dotted;
    }

    h2:first-of-type {
        background: royalblue;
    }

    h3:last-of-type {
        background: aqua;
    }

    h4:first-child {
        background-color: yellowgreen;
    }

    :not(ul) {
        background: aliceblue;
    }

    p:nth-child(1) {
        background: lightcoral;
    }

    p:nth-last-child(2) {
        background: white;
    }

    ul:nth-of-type(2) {
        background: aqua;
    }

    ul:only-of-type {
        background: teal;
    }

    span:only-child {
        background: tomato;
    }

    h6 {
        font-family:Arial;
        font-size: 18px;
    }

    address {
        color: #d73a49;
    }

    article {
        background-color: teal;
    }

    aside {
        width: 30%;
    }

    body{
        padding:20px;
        margin:20px 60px;
        font-family:Arial;
        font-size: 18px;
        background-color:silver;
    }

    div{
        background-color: #00D000;
        margin: 20px 20px 20px 20px ;
        border-left-style: double;
    }

    dl {
        background-color: #803300;
    }

    figcaption {
        color:palegreen;
    }

    figure {
        background-color: #1a1a1a;
    }

    footer {
        padding: 16px;
    }

    form {
        width: 70%;
        height: 100px;
    }

    header{
        margin: 20px 20px 20px 20px ;
    }

    hr {
        border-color:red;
    }

    image{
        width: 20%;
        height: 550px;
        float: left;
        border:4px inset purple;

    }

    li {
        list-style-position: outside;
    }

    main {
        border: 10px dotted black;
    }

    menu{
        background-color: #360099;
        margin: 20px 45px ;
        border:4px inset purple;
        text-align:center;
    }

    ol {
        list-style-type: square;
    }

    p{
        text-indent: 30px;
    }

    section {
        display: block;
        border-bottom-style: dotted;
    }

    span{
        font-family:Arial;
        font-size: 10px;
    }

    table {
        margin: 20px 50px 20px ;
    }

    title {
        display: block;
    }

    ul {
        margin-bottom: 1em;
    }

    p {
        text-align: center;
    }

    h1 {
        text-align: center;
    }

    h2 {
        font-style: oblique;
    }

    div > p {
        border: 5px dotted #52A438;
    }

    ul + p {
        color:#4DA6FF;
    }

    div p {
        border-radius: 18px 19px 20px 30px;
    }

    img {
        background: #D0E4F5 repeat scroll 50% 50%;
    }
    h1, p {
        color: #970083;
    }

    p:first-child {
        margin: 35px;
    }

    p::first-letter {
        margin-bottom: 25px;
    }

    p::first-line {
        margin-left: 30px;
    }

    p:first-of-type {
        margin-right: 150px;
    }

    p:last-child {
        margin-top: 25px;
    }

    ul:last-of-type {
        list-style: square inside;
    }

    tr:nth-child(even) {
        background-color: #1a1a1a;
    }

    tr:nth-child(odd) {
        background-color: #360099;
    }

    li:nth-child(1) {
        list-style-image: none;
    }

    li:nth-last-child(1) {
        list-style-position: outside;
    }

    ul:nth-of-type(2) {
        list-style-position: inside;
    }

    ul {
        list-style-type: circle;
    }

    ol {
        list-style-type: square;
    }

    ol {
        list-style-type: upper-roman;
    }

    ul {
        list-style-type: lower-alpha;
    }

    li:nth-last-of-type(2) {
        list-style-type: decimal;
    }

    li {
        list-style-type: georgian;
    }

    span:only-child {
        font-family: Arial, Helvetica;

    }

    h3:only-of-type {
        font-size: smaller;
    }

    :root {
        font-style: normal;
    }

    table {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 4px;
        grid-row-gap: 4px;
    }

    div {
        grid-area: 1 / 1 / 2 / 2;
    }

    body {
        background: #CE5937;
        background: linear-gradient(to right, #CE5937 0%, #1C6EA4 25%, #C59237 100%);
    }
    div {
        transform: scale(1.5) rotate(44deg) translate(-23px, 14px);
    }

    p {
        text-shadow: 4px 2px 8px #CE5937;
    }

    div {
        color: #FFFFFF;
        background: #F7C1C1;
        text-shadow: 4px 3px 0px #7A7A7A;
    }

    div {
        border: 3px solid #4DA6FF;
        box-shadow: 2px 2px 7px 1px #4DA6FF;
    }

    p {
        font-family: Georgia, serif;
        font-size: 25px;
    }

    p {
        letter-spacing: 2px;
        word-spacing: 2px;
    }

    p {
        color: #000000;
    }

    p {
        font-weight: normal;
    }

    p {
        text-decoration: none;
    }

    p {
        font-style: normal;
    }

    p {
        font-variant: normal;
        text-transform: none;
    }

    address {
        font-variant: small-caps;
    }

    table {
        border: 4px solid #792396;
        background-color: #555555;
        width: 350px;
        text-align: center;
        border-collapse: collapse;
    }
    table td th {
        border: 1px solid #555555;
        padding: 5px 2px;
    }
    table tbody td {
        font-size: 13px;
        font-weight: bold;
        color: #FFFFFF;
    }
    table tr:nth-child(even) {
        background: #CC3BFC;
    }
    table thead {
        background: #792396;
        border-bottom: 4px solid #792396;
    }
    table thead th {
        font-size: 19px;
        font-weight: bold;
        color: #FFFFFF;
        text-align: left;
        border-left: 2px solid #792396;
    }
    table thead th:first-child {
        border-left: none;
    }

    table tfoot {
        font-size: 13px;
        font-weight: bold;
        color: #FFFFFF;
        background: #CE3CFF;
        border-top: 5px solid #792396;
    }
    table tfoot td {
        font-size: 13px;
    }
    table tfoot {
        text-align: right;
    }
    table tfoot a{
        display: inline-block;
        background: #792396;
        color: #FFFFFF;
        padding: 2px 8px;
        border-radius: 5px;
    }

    div {
        border: 12px inset #1C6EA4;
        border-radius: 15px 26px 0px 0px;
    }

    div {
        border-right: 12px double #1C6EA4;
        border-radius: 15px 26px 0px 0px;
    }

    li:nth-last-of-type(2) {
        list-style-type: decimal;
    }

    h5 {
        background-color: blue;
    }

    div {
        grid-area: 1 / 1 / 2 / 2;
    }

    span > p {
        background-color: deeppink;
    }

    h1 + p {
        background-color: darkgray;
    }

    div {
        border: 3px solid #4DA6FF;
        box-shadow: 2px 2px 7px 1px #4DA6FF;
    }

    h1 ~ p {
        background-color: coral;
    }

    address {
        font-variant: small-caps;
    }

    title {
        background: blanchedalmond;
    }

    div {
        border-left-style: dotted;
    }

    h2:first-of-type {
        background: royalblue;
    }

    h3:last-of-type {
        background: aqua;
    }

    h4:first-child {
        background-color: yellowgreen;
    }

    :not(ul) {
        background: aliceblue;
    }

    p:nth-child(1) {
        background: lightcoral;
    }

    p:nth-last-child(2) {
        background: white;
    }

    ul:nth-of-type(2) {
        background: aqua;
    }

    ul:only-of-type {
        background: teal;
    }

    span:only-child {
        background: tomato;
    }

    h6 {
        font-family:Arial;
        font-size: 18px;
    }

    address {
        color: #d73a49;
    }

    article {
        background-color: teal;
    }

    aside {
        width: 30%;
    }

    body{
        padding:20px;
        margin:20px 60px;
        font-family:Arial;
        font-size: 18px;
        background-color:silver;
    }

    div{
        background-color: #00D000;
        margin: 20px 20px 20px 20px ;
        border-left-style: double;
    }

    dl {
        background-color: #803300;
    }

    figcaption {
        color:palegreen;
    }

    figure {
        background-color: #1a1a1a;
    }

    footer {
        padding: 16px;
    }

    form {
        width: 70%;
        height: 100px;
    }

    header{
        margin: 20px 20px 20px 20px ;
    }

    hr {
        border-color:red;
    }

    image{
        width: 20%;
        height: 550px;
        float: left;
        border:4px inset purple;

    }

    li {
        list-style-position: outside;
    }

    main {
        border: 10px dotted black;
    }

    menu{
        background-color: #360099;
        margin: 20px 45px ;
        border:4px inset purple;
        text-align:center;
    }

    ol {
        list-style-type: square;
    }

    p{
        text-indent: 30px;
    }

    section {
        display: block;
        border-bottom-style: dotted;
    }

    span{
        font-family:Arial;
        font-size: 10px;
    }

    table {
        margin: 20px 50px 20px ;
    }

    title {
        display: block;
    }

    ul {
        margin-bottom: 1em;
    }